@use "./base.scss";

// put your custom CSS here!

body {
    background-image: url(/static/texture.png);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-attachment: fixed;
    background-blend-mode: hard-light;
}