@use "./base.scss";

// put your custom CSS here!

$background-image: 'https://raw.githubusercontent.com/Mezalyth/Blades-of-Glass/main/quartz/static/texture.png';
$background-blend-mode: hard-light;

body {
  background-image: url($background-image);
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  background-attachment: fixed;
  background-blend-mode: $background-blend-mode;
}
